!!!
%link{:href =>"/css/bootstrap.css", :rel => "stylesheet"}

%nav{:class => "navbar navbar-default navbar-fixed-top", :role => "navigation"}
	%ul{:class => "nav navbar-nav"}
		%li{:class => "#{@current_tab}"}
			%a{:href => "/current"}Current
		%li{:class => "#{@forecast_tab}"}
			%a{:href => "/forecast"}Forecast
		%li{:class => "#{@radar_tab}"}
			%a{:href => "/radar"}Radar

%span12
	%table.table
		%thead{:style => "padding-bottom: 10px;"}
			%tr
				%th{:colspan => "2"} Weather Information
		%tbody
			%tr
				%td Area
				%td=@area
			%tr
				%td Zip
				%td=@zip
			%tr
				%td Temp
				%td="#{@temp} F"
			%tr
				%td Wind
				%td="#{@wind} mph"
			%tr
				%td Humidity
				%td="#{@humidity} %"
			%tr
				%td Currently
				%td=@outside

%form{:action => "/current", :method => "post"}
	%div.col-lg-6
		%div.input-group
			%span.input-group-btn
				%button.btn.btn-default{:type => "submit"} Search by zip code
			%input.form-control{:type => "text", :placeholder => "#{@zip}", :name => "zipcode"}




